.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  color: white;
  border-radius: 5px;
  padding: 20px;

  background-image: url(/img/e5acfe02e269e073a3751d1ef40e409c.jpg);

  width: 400px;
  height: 400px;

  overflow: hidden;

  position: relative;

  background-size: cover;

  box-shadow: 0px 0px 20px 0px rgba(75, 75, 75, 0.7);

  transition: box-shadow 0.3s, transform 0.3s;
}

.card::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  content: "";
  height: 100%;
  width: 100%;

  transition: 0.3s;
}

.card h1 {
  transform: translateY(-40px);
  opacity: 0;

  transition: 0.3s;
}

.card:hover {
  transform: translateY(-1%);

  box-shadow: 0px 0px 10px 0px rgba(75, 75, 75, 0.7);

  /* border: 3px solid rgba(128, 128, 128, 0.9); */
}

.card:hover h1 {
  opacity: 1;
  transform: translateY(0);
}

.card:hover::before {
  opacity: 0.4;
}
