.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  color: white;
  border-radius: 5px;
  padding: 20px;

  background-image: url(/img/e5acfe02e269e073a3751d1ef40e409c.jpg);

  width: 400px;
  height: 400px;

  overflow: hidden;

  position: relative;

  background-size: cover;

  box-shadow: 0px 0px 20px 0px rgba(75, 75, 75, 0.7);

  /* transition: box-shadow 0.3s, transform 0.3s; */
}

h1 {
  animation: slider 2s 3;
}

@keyframes slider {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(-400px);
  }
}
